Repository pagopa/pagopa-payment-wallet-cdc-service, pull requests merged in 2025-02, with the labels that each got.

#26 [PIDM-41] chore(azdo-pipeline-tasks): update tasks versions
  .devops/azure-templates/gradle-github-release.yml
  .devops/code-review-pipelines.yml
Labels: skip_release, size/small, ignore-for-release, skip-release

#28 feat: update helm chart to version 7
  helm/Chart.lock
  helm/Chart.yaml
  helm/values-dev.yaml
  helm/values-prod.yaml
  helm/values-uat.yaml
Labels: size/small, minor, chart-minor

#29 chore(helm-dev): update elk config for dev
  helm/values-dev.yaml
Labels: size/small, ignore-for-release, skip-release
